.MainDataGrid {
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    overflow: hidden;
}

.Scenes {
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
}