
.XBaseInput, .XBaseButtonInput {
    position: absolute;
    padding: var(--ip-padding);
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    height: calc(100% - 34px);
    width: calc(100% - 13px);
    resize: none;
    top: 20px;
}

.Error {
    background-color: #ffcccc;
}

.XDataLoockupEditor {
    position: absolute;
    padding: var(--ip-padding);
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    padding-right: 32px;
    height: calc(100% - 34px);
    width: calc(100% - 41px);
    top: 20px;
    outline: none;
}

.XDataLoockupEditor:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.XDatePickerEditor {
    position: absolute;
    padding: var(--ip-padding);
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    padding-right: 32px;
    height: calc(100% - 34px);
    width: calc(100% - 41px);
    top: 20px;
    outline: none;
}

.XDatePickerEditor:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.XMemoEditor {
    position: absolute;
    padding: var(--ip-padding);
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    height: calc(100% - 34px);
    width: calc(100% - 13px);
    resize: none;
    top: 20px;
}

.XMemoEditor:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.XNormalEditor {
    position: absolute;
    padding: var(--ip-padding);
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    height: calc(100% - 34px);
    width: calc(100% - 13px);
    resize: none;
    top: 20px;
}

.XNormalEditor:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.XIntegerEditor {
    position: absolute;
    padding: var(--ip-padding);
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    height: calc(100% - 34px);
    width: calc(100% - 13px);
    resize: none;
    top: 20px;
    text-align: right;
}

.XIntegerEditor:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.XDecimalEditor {
    position: absolute;
    padding: var(--ip-padding);
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    height: calc(100% - 34px);
    width: calc(100% - 13px);
    resize: none;
    top: 20px;
    text-align: right;
}

.XDecimalEditor:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.XEMailEditor {
    position: absolute;
    padding: var(--ip-padding);
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    height: calc(100% - 34px);
    width: calc(100% - 13px);
    resize: none;
    top: 20px;
    text-align: right;
}

.XEMailEditor:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.XPhoneEditor {
    position: absolute;
    padding: var(--ip-padding);
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    height: calc(100% - 34px);
    width: calc(100% - 13px);
    resize: none;
    top: 20px;
    text-align: right;
}

.XPhoneEditor:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.XDataGridEditor {
    position: absolute;
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    height: calc(100% - 34px);
    width: calc(100% - 13px);
    resize: none;
    top: 20px;
    text-align: right;
    overflow: hidden;
}

.XDataGridEditor:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.XButtonEditor {
    position: absolute;
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    height: calc(100% - 34px);
    width: calc(100% - 13px);
    resize: none;
    top: 20px;
    text-align: right;
    overflow: hidden;
}

.XButtonEditor:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}


.XSearchBoxEditor {
    position: absolute;
    padding: var(--ip-padding);
    height: var(--ip-height);
    border-radius: 5px;
    border: 2px solid #74ddff;
    outline: none;
    padding-right: 32px;
    height: calc(100% - 34px);
    width: calc(100% - 41px);
    top: 20px;
    outline: none;
}

.XSearchBoxEditorButtonOpt {
    position: absolute;
    right: 3px;
    top: 23PX;
    bottom: 3px;
    width: 28px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 3px;
    text-align: center;
    align-content: space-around;
    height: calc((100% - 28px) / 2);

    &:hover {
        background-color: var(--bg-hv-XLookupButton);
    }
}

.XSearchBoxEditorButton {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 28px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 3px;
    text-align: center;
    align-content: space-around;
    height: calc((100% - 28px) / 2);

    &:hover {
        background-color: var(--bg-hv-XLookupButton);
    }
}

.XSearchIcon {
    width: 20px;
    padding: 4px;
}

.XTagEditor {
    display: inline-flex;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 2px 6px;
    height: 20px;

    &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 2px rgba(0,123,255,.25);
    }
}

.XTagEditorTitle {
    color: #a3a3a3;
    padding-right: 3px;
    font-size: 12px;
}

.XTagEditorInput {
    border: none;
    outline: none;
    width: 15px;

    &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 2px rgba(0,123,255,.25);
    }
}

.XTagEditorSVG {
    width: 13px;
    cursor: pointer;
    padding-left: 6px;
}

.XEditableTag {
    display: inline-block;
    padding-right: 2px;
}
